* { 
	padding: 0;
	margin: 0;
 }
body {
	font-family: 'Oswald', sans-serif;
	border-radius: 3px;
}

header {
	background: #226394; 
	height: 7em;
	width: 79em;
}

.menu {
	height: 4em;
	padding: 1em 1em 1em 1em;
	width: 79em;
}
.tab {
	background: #1D8DC2;
	border-radius: 2px;
	color: white;
	height: 2em;
	text-align: center;
	width: 6em;
}

.search {
	background: #1D8DC2;
	border-radius: 2px;
	color: #FFF;
	height: 2em;
	margin-left: 9em;
	margin-top: -2em;
	text-align: right;
	width: 12em;
}
#imgTrello {
	height: 4em;
	margin-left: 31em;
	margin-top: -49px;
	width: 7em;
}

.pictures {
	height: 2em;
	/*margin: -43em 0 0 60em;*/
	width: 10em;
	
}

.little-box {
	background: #1D8DC2;
	border-radius: 2px;
	color: #FFF;
	float: left;
	height: 2em;
	margin-left: 1em;
	text-align: center;
	width: 2em;
}

main {
	background: #0084C3;
	height: 40em;
	margin-top: 0px;
	width: 79em;
}

/*section subhead*/
.subhead {
	color: white;
	float: left;
	height: 64px;
	width: 100%;
}

.uno {
	color: white;
	margin: 3px 0 3px 25px;
}

.dos {
	color: white;
	margin: -25px 0 0 197px;
}

.tres {
	color: white;
	margin: -20px 0 0 1155px;
}

/*section box*/
#btnAdd {
    background-color: #2B5873;
    border: none;
    border-radius: 5px;
    color: #E4F0F6;
    height: 3em;
    margin-left: 2em;
    outline: none;
    padding-left: 1em;
    text-align: left;
    width: 14em;
}
#btnAdd:hover {
    background-color: #07486E;
}

.insetdos {
	border-radius: 5px;
	background-color: #E2E4E6;
	border: transparent;
	display: inline-block;
	height: 6em;
	margin: 2em;
	padding: 6px;
	width: 11em;
}

input { /*hacerlo parecido al btnAdd*/
	border-radius: 5px;
	background-color: #D7D8DA;
	border: 1px solid #AAA;
	height: 2em;
	font-size: 14px;
	margin: 2px;
	width: 12em;
}
.btnSave {
	background-color: #5AAC44;
	border-radius: 5px;
	color: #FFF;
	height: 2em;
	margin-left: 1em;
	width: 6em;
}
.close {
	background-color: transparent;
	border: none;
	color: #AAA;
	font-size: 2em;
	height: 2em;
	left: 1em;
	position: relative;
	width: auto;
}

.ocult-inset {
	display: none;
}